* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  background-color: var(--Dark-cyan);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  font-size: 18px;
  overflow: hidden;
  background: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: top -170px left 0px, bottom -170px right 0px;
  background-size: 40%, 40%;
  background-repeat: no-repeat, no-repeat;
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
@media (max-width: 475px) {
  body {
    background-color: var(--Dark-cyan);
    height: 100vh;
    width: 100vw;
    background-position: top -50px left -40px, bottom -50px right -50px;
    background-size: 40%, 40%;
  }
  .card {
    width: 325px;
    height: 375px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: auto;
    position: absolute;
  }
  .card-head {
    height: 140px;
  }
  .card-head img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .person-img {
    border: 5px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    top: 26%;
    left: 35%;
  }

  .info {
    background: white;
    height: 235px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
  }
  .info p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
  }
  .info span {
    margin-left: 5px;
    font-weight: 300;
    color: var(--Dark-grayish-blue);
  }
  .city {
    font-size: 18px;
    font-weight: 300;
    color: var(--Dark-grayish-blue);
    text-align: center;
    margin: 0;
  }
  .number {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -25px;
    height: 85px;
  }
  .follower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }

  .number p {
    width: 33%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    text-align: center;
  }
  .number h5 {
    color: var(--Dark-grayish-blue);
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
  }
  .line {
    display: flex;
    width: 100%;
    height: 0.5px;
    background-color: var(--Dark-grayish-blue);
    opacity: 0.5;
    margin-top: 1px;
    margin-bottom: 5px;
  }
  .top,
  .bottom {
    position: relative;
    width: 600px;
    height: 600px;
  }
  .top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .bottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: auto;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media (min-width: 376px) {
  body {
    background-color: var(--Dark-cyan);
    height: 100vh;
    width: 100vw;
  }
  .card {
    width: 325px;
    height: 375px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: auto;
    position: absolute;
  }
  .card-head {
    height: 140px;
  }
  .card-head img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
  .person-img {
    border: 5px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
    position: absolute;
    top: 26%;
    left: 35%;
  }

  .info {
    background: white;
    height: 235px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
  }
  .info p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
  }
  .info span {
    margin-left: 5px;
    font-weight: 300;
    color: var(--Dark-grayish-blue);
  }
  .city {
    font-size: 18px;
    font-weight: 300;
    color: var(--Dark-grayish-blue);
    text-align: center;
    margin: 0;
  }
  .number {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: -25px;
    height: 85px;
  }
  .follower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
  }

  .number p {
    width: 33%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    text-align: center;
  }
  .number h5 {
    color: var(--Dark-grayish-blue);
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
  }
  .line {
    display: flex;
    width: 100%;
    height: 0.5px;
    background-color: var(--Dark-grayish-blue);
    opacity: 0.5;
    margin-top: 1px;
    margin-bottom: 5px;
  }
  .top,
  .bottom {
    position: relative;
    width: 600px;
    height: 600px;
  }
  .top {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .bottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: auto;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
